<style type="text/css">
  body {
    background:url('/assets/unknown.jpg'),#E2E1E1;
    background-position:top ; 
    background-repeat:no-repeat;
  }
  .left_image {
    float: left;
    margin-left: -32px;
    margin-top: 198px;
  }
</style>

<link href="/stylesheets/component.css" media="screen" rel="stylesheet" />
<link href="/stylesheets/default.css" media="screen" rel="stylesheet" />
<link href="/stylesheets/style.css" media="screen" rel="stylesheet" />
<link href="/stylesheets/style_modal.css" media="screen" rel="stylesheet" />

 <div class="left_image" align="center" >
  <%=image_tag "Screen.png", :width => "120px" %>
</div>
<main>
  <sectionbox style="background:#efefef; height:300px; padding:15px 0 0 0; margin-top:50px;" align="center">
    <% @products.each_with_index do |product, i| %>
        <div class="product">
          <%= image_tag product.featured_image(:medium), class:  'clearfix md-trigger','data-modal' => "modal-j1",'data-price' =>number_to_currency(product.price), 'data-detail' => product.to_json,'data-variantid'=>product.active_variants.first.try(:id) %>
        </div>
    <%end%>
   </sectionbox>
  <div class="cart" style="margin-top:30px; ">
    <a href="/checkout/cart">
      <%=image_tag "cart.png", :alt => "cart" %>
    </a>
  </div>  
</main>




<!-- Modal product click -->
<div class="md-modal md-effect-jt" id="modal-j1">
  <%= form_for  @cart_item, :url=>shopping_cart_items_path(@cart_item),
      :html => { :id => 'new_cart_item', :class => 'custom' } do |f| %>
    <%= f.hidden_field :variant_id %>
    <div class="md-content modal-j-bg">
      <div class="div-close">
        <span class="md-close on-close">
          <img src="/assets/close.png" />
        </span>
      </div>  
      <div class="prod-desc">
        <div class="prod-title">Title</div>
        <div class="prod-details">
          <div class="iblk prod-artist-dimen">
            <div class="prod-artist">Artist</div>
            <div class="prod-dim">
              <p>1).Height</p><p>2).Weight</p><p>3).Stem</p>
            </div>
          </div>
          <div class="prod-img iblk"><img src="/assets/modal2.png" /></div>
          <div class="prod-price-desc iblk">
            <div class="prod-price">$Price</div>
            <div class="prod-des">Description</div>
          </div>
        </div>
        <div class="clearx getbtn">
        <!-- <section> -->
          <div class="wrapper-demo">
            <div id="dd" class="wrapper-dropdown-4">GET
              <ul class="dropdown">
                <li>
                  <%= link_to 'Now', '#', :id => 'submit_add_to_cart' %>
                   <!-- <a href="/shopping/cart_items" >Now</a> -->
                </li>
                <li><a href="#" class="md-trigger later" data-modal="modal-j2" >Later</a></li>
              </ul>
            </div>
          ​</div>
        <!-- </section> -->
      </div>
    </div>
  <%end%>
</div>
</div>
<div class="md-modal md-effect-jt md-effect-jt2" id="modal-j2">
  <div class="md-content modal-j-bg">
      <div class="div-close"><span class="md-close"><img src="/assets/close.png" /></span></div>
    
    <div class="fill-form-o-div">
      <div class="fill-form">
       <%@user = User.new%>
       <%= form_for @user, url: customer_registrations_path(@user), html: {class: 'custom'}  do |form| %>
        <%=form.label :first_name, 'First name*' %>
        <%= form.text_field :first_name %>
    
        <%=form.label :last_name, 'Last name*' %>
        <%= form.text_field :last_name %>

        <%=form.label :email, 'Email*' %>
        <%= form.email_field :email, :autocomplete => 'off', :autocapitalize => 'off'  %>

        <%=form.label :password, 'Password*' %>
        <%= form.password_field :password, :autocomplete => 'off', :autocapitalize => 'off'  %>

        <%=form.label :password_confirmation, 'Confirm*' %>
        <%= form.password_field :password_confirmation, :autocomplete => 'off', :autocapitalize => 'off'  %>

      <%#= form.buttons do %>
        <%= form.submit "Checkout", :class => 'button' %>
      <%# end %>
    <% end %>
    Already a user then <a href="/login">Sign in</a>
    </div>
    </div>
  </div>
</div>

<div class="md-overlay"></div><!-- the overlay element -->

<!-- classie.js by @desandro: https://github.com/desandro/classie -->
<!-- <script src="/assets/classie.js"></script>
<script src="/assets/modalEffects.js"></script> -->
<%= javascript_include_tag 'classie' %>
<%= javascript_include_tag 'modalEffects' %>

<!-- for the blur effect -->
<!-- by @derSchepp https://github.com/Schepp/CSS-Filters-Polyfill -->
<script>
  // this is important for IEs
  var polyfilter_scriptpath = '/assets/';
</script>

<%= javascript_include_tag 'cssParser' %>
<%= javascript_include_tag 'css-filters-polyfill' %>
<!-- <script src="/assets/cssParser.js"></script>
<script src="/assets/css-filters-polyfill.js"></script> -->
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
<script type="text/javascript">
      
  function DropDown(el) {
    this.dd = el;
    this.opts = this.dd.find('ul.dropdown > li');
    this.val = [];
    this.index = [];
    this.initEvents();
  }
  DropDown.prototype = {
    initEvents : function() {
      var obj = this;

      obj.dd.on('click', function(event){
        $(this).toggleClass('active');
        event.stopPropagation();
      });

      obj.opts.children('label').on('click',function(event){
        var opt = $(this).parent(),
          chbox = opt.children('input'),
          val = chbox.val(),
          idx = opt.index();

        ($.inArray(val, obj.val) !== -1) ? obj.val.splice( $.inArray(val, obj.val), 1 ) : obj.val.push( val );
        ($.inArray(idx, obj.index) !== -1) ? obj.index.splice( $.inArray(idx, obj.index), 1 ) : obj.index.push( idx );
      });
    },
    getValue : function() {
      return this.val;
    },
    getIndex : function() {
      return this.index;
    }
  }

  $(function() {

    $('.later').on('click',function(){
        $('.on-close').trigger('click');
    });

    var dd = new DropDown( $('#dd') );

    $(document).click(function() {
      // all dropdowns
      $('.wrapper-dropdown-4').removeClass('active');      
    });

    $('.md-trigger').on('click',function(){
      data = $(this).data('detail');
      $('.prod-dim').html('<p>1)Weight: '+data.height+'</p><p>2)Height: '+data.weight+'</p><p>3)Stem: '+data.stem+'</p>')
      $('.prod-img img').attr('src',$(this).attr('src'));
      $('.prod-price').html("Price<br>"+$(this).data('price'));
      $('.prod-des').html("Description:<br>"+data.description);
      $('.prod-artist').html(data.name);
      $('.prod-title').html(data.product_keywords[0]);
      $('#cart_item_variant_id').val($(this).data('variantid'));
    });
    
    // $('#submit_add_to_cart').on('click', function() {
    //       if ($('#cart_item_variant_id').val() == '' ) { // Select to see if variant is selected in hidden field
    //         alert('Please click on a specific item to add.');
    //       } else {
    //         $("#new_cart_item").submit();
    //     }
    //   });
  });
</script>
<% content_for :below_body do -%>
  <%= javascript_include_tag 'shopping/cart.js' %>
  <%= javascript_include_tag 'jquery.jcarousel.js' %>
  <%= javascript_include_tag 'jquery.pikachoose.full.js' %>
  <%= javascript_include_tag 'product_page.js' %>
<% end %>